<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Error</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center">
                <p class="lead"><strong>Ошибка заполнения!</strong></p>
                <p class="lead"><strong>
                        <%= user.name %>,</strong>приносим извинения и благодарим вас за интерес к<br>
                    <a href="https://vk.com/public<%=user.group_id%>">Турниру Дальнобойщиков!</a><br>
                    <span id="status">Анкета скоро станет доступна!</span>
                </p>
                <hr>
                <p>
                    Есть вопросы? <a href="https://vk.com/im?sel=-<%=user.group_id%>">Напишите нам.</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>