<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Анкета участника</title>
    <base target="_blank">
</head>

<body>
    <div class="container" id="main">
        <div class="row justify-content-center">
            <div class="text-center">
                <p class="lead">
                    <strong>Внимание!</strong> Вы уже заполняли Анкету УЧАСТНИКА ТУРНИРА.
                </p>
                <hr>
                <div id="verified">
                    <p>
                        <a href="https://vk.com/im?sel=-<%=group_id%>">Напишите нам,</a> если хотите задать вопрос.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>